<!--JB, BC side menu list-->
<ul class="list-group-flush px-0 vh-100 overflow-auto">
    <!--JB each list item is a recipe item-->
    <li class="recipe-item list-group-item">
        <!--JB link to the Apple recipe-->
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=apple">Apple</a>
    </li>
    <!--JB more recipe items-->
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=apricot">Apricot</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=arepas">Arepas</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=artichoke">Artichoke</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=asparagus">Asparagus</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=avacado">Avocado</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=bacon">Bacon</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=banana">Banana</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=basil">Basil</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=bbq">Bbq</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=bean">Bean</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=beef">Beef</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=beetroot">Beetroot</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=blackberry">Blackberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=blackcurrant">Blackcurrant</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=blueberry">Blueberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=boysenberry">Boysenberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=broccoli">Broccoli</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=brussel sprouts">Brussel sprouts</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=bunny chow">Bunny chow</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=cabbage">Cabbage</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=cake">Cake</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=carrot">Carrot</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=cauliflower">Cauliflower</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=celery">Celery</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=champ">Champ</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=cherry">Cherry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=chicken">Chicken</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=chickpea">Chickpea</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=chili">Chili</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=chips">Chips</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=chocolate">Chocolate</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=cinnamon">Cinnamon</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=coconut">Coconut</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=coriander">Coriander</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=corn">Corn</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=crab">Crab</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=cranberry">Cranberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=croissant">Croissant</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=cucumber">Cucumber</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=curry">Curry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=dill">Dill</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=donuts">Donuts</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=duck">Duck</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=fajitas">Fajitas</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=fig">Fig</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=fish">Fish</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=fries">Fries</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=garlic">Garlic</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=goat">Goat</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=grape">Grape</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=grapefruit">Grapefruit</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=green bean">Green bean</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=green pepper">Green pepper</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=ham">Ham</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=hamburger">Hamburger</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=hummus">Hummus</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=ice cream">Ice cream</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=kebab">Kebab</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=ketchup">Ketchup</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=kiwi fruit">Kiwi fruit</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=lamb">Lamb</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=lasagna">Lasagna</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=leek">Leek</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=lemon">Lemon</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=lentil">Lentil</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=lettuce">Lettuce</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=lime">Lime</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=lobster">Lobster</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=lychee">Lychee</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=mandarin">Mandarin</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=mango">Mango</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=maple syrup">Maple syrup</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=marzipan">Marzipan</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=masala">Masala</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=melon">Melon</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=mushrooms">Mushrooms</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=nectarine">Nectarine</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=onion">Onion</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=orange">Orange</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=paella">Paella</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=papaya">Papaya</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=parma ham">Parma ham</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=parsley">Parsley</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=passion fruit">Passion fruit</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=pasta">Pasta</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=peach">Peach</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=pear">Pear</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=peas">Peas</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=pepperoni">Pepperoni</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=pie">Pie</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=pineapple">Pineapple</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=pizza">Pizza</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=plum">Plum</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=poke">Poke</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=pomegranate">Pomegranate</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=popcorn">Popcorn</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=pork">Pork</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=potato">Potato</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=poutine">Poutine</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=pudding">Pudding</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=pumpkin">Pumpkin</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=quince">Quince</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=radish">Radish</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=raspberry">Raspberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=red pepper">Red pepper</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=ribs">Ribs</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=rendang">Rendang</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=roast">Roast</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=rosemary">Rosemary</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=salad">Salad</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=saffron">Saffron</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=salami">Salami</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=sausage">Sausage</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=seafood">Seafood</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=som tam">Som tam</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=steak">Steak</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=strawberry">Strawberry</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=sushi">Sushi</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=sweet potato">Sweet potato</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=tacos">Tacos</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=toast">Toast</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=tofu">Tofu</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=tomato">Tomato</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=turkey">Turkey</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=watermelon">Watermelon</a>
    </li>
    <li class="recipe-item list-group-item">
        <a class="text-decoration-none text-dark" href="/Recipe/Search?recipe=zucchini">Zucchini</a>
    </li>
</ul>