@*JB*@
@{
    ViewData["Title"] = "Recipe";
}
<!--JB Main Container-->
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-12">
            @Html.Partial("_SearchBar")
        </div>
    </div>
    <!--JB Recipe list and details row-->
    <div class="row">
        <!--JB Recipe list column-->
        <div class="col-2">
            <div class="shadow rounded position-sticky" id="recipe-list">
                <div class="border-bottom border-3 p-2">
                    <h4 class="text-pink text-center fst-italic">Search by Ingredient</h4>
                    @Html.Partial("_SideMenu")
                </div>
            </div>
        </div>
        <!--JB Recipe details column-->
        <div class="col-10">
            <!--JB Pizza recipes section-->
            <div class="mb-3">
                <h4 class="text-dark">Pizza</h4>
                <div class="row" id="pizzaRecipe"></div>
            </div>
            <!--JB Cake recipes section-->
            <div class="mb-3">
                <h4 class="text-dark">Cake</h4>
                <div class="row" id="cakeRecipe"></div>
            </div>
            <!--JB Chicken recipes section-->
            <div class="mb-3">
                <h4 class="text-dark">Chicken</h4>
                <div class="row" id="chickenRecipe"></div>
            </div>
            <!--JB Chocolate recipes section-->
            <div class="mb-3">
                <h4 class="text-dark">Chocolate</h4>
                <div class="row" id="chocolateRecipe"></div>
            </div>
        </div>
    </div>
</div>

<!--JB jQuery library-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        GetRecipes("pizza", "pizzaRecipe", false);
        GetRecipes("cake", "cakeRecipe", false);
        GetRecipes("chicken", "chickenRecipe", false);
        GetRecipes("chocolate", "chocolateRecipe", false);
    })    
</script>
